/*main fonts*/
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto&family=Roboto+Slab&display=swap');
:root{
	--light-gray:#2b3032a1;
	--primary-color:#fff;
	--border:gray;
    --text-color:#000;
    --text-color-nd:#636673e6;
    --text-size: 1.5rem;
	--anton: 'Anton', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --roboto-slab: 'Roboto Slab', serif;
    --leckeri: 'Leckerli One', cursive;
}
body{font-family: var(--roboto-slab);}
/*Navbar*/
.navbar{position: absolute;z-index: 99;margin:0 10%;}
.logo-cont .navbar .logo1{
	margin-top:10px;
	color: var(--primary-color);
	font-size: 25px;
	font-family: var(--leckeri);
}
.navbar .navbar-nav{margin-top: 7%!important}
.navbar-light .navbar-nav .nav-link{color: var(--primary-color)!important;}

.navbar-light .navbar-nav .nav-link{
	font-size: 13px!important;
	padding: 4px 10px!important;
	letter-spacing: 0.5px;
	font-family: var(--roboto);
}
.navbar-light .navbar-nav .nav-link:hover{
	color: var(--text-color-nd)!important;
	background-color: var(--primary-color);
    border-radius: 5px;
}

/*End of Navbar*/
.carousel-item{
	min-height: 300px;
	background: no-repeat center center scroll;
	background-size: cover;
}
.carousel-item .first{
	text-align: left;
	right:60%;
	left: 14%;
	top: 30%;
}
.carousel-item .first h2{
	letter-spacing: 5px;
	line-height: 1.2;
	font-size: 50px;
	margin-bottom: 5px;
}
.carousel-item .btn{
	box-shadow: 1px 2px #968787;
	border: none;
    background-color: var(--primary-color);
    font-size: 15px;
    color: var(--text-color);
    font-family: var(--roboto);
}
.carousel-item .first p{width:85%;text-align: justify;}
.carousel-item .btn:hover{box-shadow:-5px -2px 6px 0px #e2d9cd;transition: width 2s;}

.carousel-caption p{
	letter-spacing: 0.5px;
	font-size: 12px;
	font-weight: 200;
	line-height: 1.3;
}
.carousel-item .second p{font-size: 14px;}
.carousel-item .second h3{
	letter-spacing: 0.5px;
	font-size: 35px;
	font-weight: 600;
	color: var(--text-color-nd);
}
.carousel-item .carousel-caption:not(.first){top: 30%;}
.carousel-indicators li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
/*******************/
/*Start of Portoflio part*/
.main .portoflio h1{padding-top: 5%;letter-spacing: 6px;}
.main .portoflio > p{
	margin: 2% auto;
	width: 60%;
	text-align: center;
	font-size: 14px;
    font-weight: 300;
    color: var(--text-color-nd);
    font-family: var(--roboto);
}
.main .portoflio .row .card h4{margin: 12px 0;}
.main .portoflio .row .card p{text-align: justify;}

.main .portoflio .row .card p,
.main .workshop .row .card p{
    color: var(--text-color-nd);
    font-size: 13px;
    padding-bottom: 10px;
    font-family: var(--roboto);
}
.main .portoflio .row .card .far{
	background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.main .portoflio .row .card .far:hover{color: red;cursor: pointer;}

/*End of Portflio part*/
/* Start of Workshop part*/
.main .workshop .pottery{
	padding: 72px 0;
	margin: 20px 0;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../images/26.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
.main .pottery h1,.main .pottery p{color: var(--primary-color)!important}
.main .pottery hr{
	width: 65%;
	border: 1px solid #fff;
	border-radius: 2px;
	line-height: 1.5;
}
.main .workshop .pottery a{
	text-decoration: none;
    color: var(--text-color);
    margin-left:45%;
    background-color: var(--primary-color);
    font-size: 12px;
    line-height: 1;
    font-family: var(--roboto);
    text-align: center;
    border: none;
    padding: 10px 26px;
}
.main .workshop .pottery a:hover{color: var(--primary-color);background-color:#313544;}
.main .workshop .row{margin: 6% 0;}
.main .workshop .row .card .card-body h6{
	margin: 15px 0;
    line-height: 1.1;
    font-size: 16px;	
}
/*End of workshop part*/
/**Start of Blog Part*/
.main .blog{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,-0.5)),url('../images/100.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 20px;
}
.main .blog .card{height: 320px;}
.main .blog .slider .card .card-body .card-text,
.main .blog .slider .card .card-body .card-subtitle{font-family: var(--roboto);}
.main .blog .slider .card .card-body p{color: var(--text-color-nd)!important;font-size: 13px;}
.main .blog .slider .card .card-body h5{font-size: 1.20rem;line-height: 1.3;margin-top: 4%;}
.main .blog .slider .card .card-body .text-muted{color: #6c757d!important;font-size: 11px;margin: 10px 0;}
.main .blog .slider .card .card-body a{
	margin-bottom: 15px;
	font-size: 13px;
	color: var(--text-color-nd);
	padding: 6px 12px;
}
.main .blog .slider .card .card-body a:hover{background-color:#313544;color: var(--primary-color);}
/**End of Blog Part**/
/*start of Social icon part*/
.main .social{
	margin-top: 5%;
	margin-bottom: 35px;
}
.main .social h4{margin-bottom: 1.5em}
.main .social .social-icons .fab{
	padding: 8px;
    border: 1px solid lightgray;
    background-color: #1e202721;
    width: 32px;
    border-radius: 50%;
    height: 32px;
}
.main .social .social-icons .fab:hover{
	color: var(--primary-color);
	background-color:var(--text-color-nd);
	cursor: pointer;
}
/*End of social part*/
/*start of footer*/
footer{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,-0.5)),url('../images/end.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--primary-color);
}
footer .row{padding: 5% 0;}
footer .row .col p{ 
	font-size: 11px;
    margin-top: 7px;
    margin-bottom: 1rem;
}
footer .row .col p,footer .row .col .question span{font-family: var(--roboto);}
footer .row .col h3{
	font-family: var(--leckeri);
	text-align: center;
	margin-bottom: 15px;
}
footer .row .col hr{width: 40%;border: 2px solid #fff}
footer .row .col h6{
	letter-spacing: 1px;
    line-height: 2.5;
    font-size: 20px;
}
footer .row .col .question span{font-size: 14px!important;}
footer .row .col .social-icons .fab{
	margin-right: 5px;
    font-size: 20px;
    margin: 10px 4px;
}
footer .row .col .social-icons .fab:hover{color: #313544;cursor: pointer;}
footer .row .col .info span,
footer .row .col .info address
{font-size: 13px!important;margin-top: 8px;}
footer .row .col .posts .top-txt{font-size: 15px;margin: 5px 0;}
/*****My Framework*****/
.card{
	border: none;
	margin-bottom: 20px;
}
.span-text{
	color: #97989ca8;
    font-size: 12px;
    font-family: var(--roboto);
}
.main .portoflio .row .card:hover,
.main .workshop .row .card:hover,
.main .blog .slider .card:hover{
	box-shadow: -5px -2px 5px 9px #5f5c8c30;
	transition: width 2s;
}

/*media screen*/
 @media only screen and (min-width: 33.9em) { 

	.container .navbar{margin: 0 28%!important}
}
@media only screen and (min-width: 47.9em) {

	.container .navbar{margin: 0 28%!important}
}
@media only screen and (min-width: 61.9em) {

	.container .navbar{margin: 0 38%!important}
}
@media only screen and (min-width: 74.9em) { 
	.container .navbar{margin: 0 38%!important}
}